version: "3.0"

set: ['e', 'u', 'pipefail']
shopt: ['globstar']

dotenv: ['.env']

env:
  TLD: "{{"{{"}}{{".ROOT_DIR"}}}}"
  VENV_DIR: ".venv"

vars:

{% if use_docker -%}
includes:
  docker:
    taskfile: ./taskfiles/docker.yml
  orbstack:
    taskfile: ./taskfiles/orbstack.yml
    aliases: ["orb"]
  redis:
    taskfile: ./taskfiles/redis.yml
  uv:
    taskfile: ./taskfiles/uv.yml
{% else -%}
includes:
  uv:
    taskfile: ./taskfiles/uv.yml
{% endif -%}

tasks:
  default:
    desc: "Default task"
    cmds:
      - task --list

{% if use_devbox -%}
  install-devbox:
    desc: "Install devbox"
    cmds:
      - curl -fsSL https://get.jetify.com/devbox | bash
    run: once
    silent: true
    environment:
      FORCE: 1
      INSTALL_DIR: "{{"{{"}}{{".HOME"}}}}/{{".local/bin"}}"
    status:
      - command -v devbox 2>/dev/null

  install:
    desc: "Install project dependencies"
    deps: ["install-devbox"]
    cmds:
      - devbox install
{% else -%}
  install:
    desc: "Install project dependencies"
    cmds:
      - python -m pip install -e .
{% endif -%}

  pre-commit:
    desc: "Run pre-commit hooks"
    cmds:
      - pre-commit run --all-files

  lint:
    desc: "Run linters"
    cmds:
      - ruff check --fix --respect-gitignore

  format:
    desc: "Run formatters"
    cmds:
      - ruff format --respect-gitignore

  test:
    desc: "Run tests"
    cmds:
      - pytest

  pyclean:
    desc: "Remove .pyc and __pycache__"
    cmds:
      - |
        args=(
          .
          --debris
          --verbose
          -i .devbox
        )
        case "{{"{{"}}{{".CLI_ARGS"}}}}" in
          dry-run)
            pyclean "${args[@]}" --dry-run
            ;;
          *)
            pyclean "${args[@]}"
            ;;
        esac
